footer {
  padding:0;
  margin:0 auto;
  height:100%;
  .top-footer {
    position:relative;
    margin:0 auto;
    width:$width_content;
    border:1px solid #ffffff;
    background:#d9dbd7;
    .sidebar-left {
      width:850px;
      padding-left:40px;
      float:left;
      .social {
        text-align:right;
        margin-top:28px;
        padding-bottom:15px;
        border-bottom:1px solid $text_color;
        a {
          margin-left:10px;
          &:first-child{
            margin-left:0;
          }
        }
      }
      .ftmenu {
        padding-top:35px;
        padding-bottom:280px;
        border-top:1px solid $text_color;
        border-bottom:1px solid $text_color;
        .listft {
          float:left;
          font-size:14px;
          font-family: $font_cabin;
          color:$text_color;
          margin-right:77px;
          ul{
            li:first-child {
              font-size:$font_size;
              font-family: $font_cabin_bold;
              color:$text_color;
            }
            li {
              line-height:30px;
              white-space:pre-line;
            }
          }
          &:last-child {
            margin-right:0;
          }
          &:after{
            content:"";
            display:table;
            clear:both;
          }
        }
      }
      .email {
        position:relative;
        border-top:1px solid $text_color;
        border-bottom:1px solid $text_color;
        padding-top:25px;
        p {
          float:left;
          margin-left:80px;
          text-align:right;
          line-height:18px;
          font-size:14px;
          font-family:$font_roboto_light;
          color:$text_color;
          white-space:pre-line;
        }
        .p-italic{
          font-size:14px;
          font-style:italic;
          font-family:$font_roboto_light_italic;
          color:$text_color;
        }
        .em {
          float:right;
          #email {
            font-size:16px;
            border:1px solid #eaede8;
            margin-right:125px;
            margin-bottom:30px;
            padding:15px 0 15px 15px;
            background:#eaede8;
            color:$text_color;
            width:310px;
          }
          #em-sub {
            position:absolute;
            right:75px;
            top:25px;
          }
        }
        &:after{
          content:"";
          display:table;
          clear:both;
        }
      }
      .corp{
        border-top:1px solid $text_color;
        li {
          font-size:12px;
          font-family:$font_roboto_light;
          margin:35px 0;
          float:left;
          padding:0 10px;
          border-right:1px solid #858684;
          border-left:1px solid #b7b8b5;
          &:first-child {
            border-left:0;
            padding-left:0;
          }
          &:last-child {
            border-right:0;
            padding-right:0;
          }
        }
        &:after{
          content:"";
          display:table;
          clear:both;
        }
      }
    }
    .sidebar-right {
      float:right;
      margin:30px 30px 0 0;
      .inf {
        width:235px;
        border:1px solid $footer_right_sidebar_bg;
        background-color:$footer_right_sidebar_bg;
        p{
          white-space:pre-line;
          font-size:12px;
          font-family: $font_cabin;
          color:$text_color;
          line-height:18px;
          margin-left:25px;
        }
        h4{
          text-transform:uppercase;
          font-family: $font_cabin_bold;
          color:$text_color;
          margin-left:25px;
          font-size:14px;
        }

        .contact {
          margin-top:20px;
          h3 {
            white-space:pre-line;
            text-align:center;
            font-size:$font_size;
            line-height:24px;
            font-family:$font_roboto_medium;
            color:$text_color;
          }
          .mini-line{
            margin:20px auto 0 auto;
            width:33px;
            border-top:2px solid $text_color;
          }
          .text {
            margin-top:23px;
            p{
              margin-bottom:15px;
            }
          }
        }
        .hor{
          background-color:#f9f9f9;
          padding-top:16px;
          padding-bottom:16px;
        }
        .trans {
          padding-top:16px;
          padding-bottom:17px;

        }
      }
    }
    .button {
      position:absolute;
      bottom:-2.5px;
      right:33px;
    }

    &:after {
      content:"";
      display:table;
      clear:both;
    }
  }
  .bot-footer{
    width:100%;
    margin-top:30px;
    text-align:center;
    h3 {
      font-size:$font_size;
      font-family:$font_roboto_medium;
      line-height:25px;
      color:#4f4f4f;
      white-space:pre-line;
    }
    .footerlgs{
      margin:40px auto;
    }
  }
}