header {
      margin:0 auto;
      width:$width_content;
      position:relative;
      background:$bg_color;
      .float-header{
        width:$width_content;
        .left-header{
          margin-top:10px;
          position:relative;
          float:left;
          .logo {
            position: absolute;
          }
          .title {
            font-family:$font_family_italic;
            font-size:$font_size;
            position:absolute;
            left:95px;
            top:25px;
            width:710px;
            line-height:20px;
            color:$text_color;
            text-align:left;
            h3 {
              white-space:pre-line;
            }
          }
        }
        .right-header{
          margin-top:35px;
          float:right;
          .icon{
            margin-left:35px;
            position:relative;
            display:inline-block;
            text-align:center;
            &:first-child {
              margin-left:0;
            }
            a {
              text-decoration:none;
              img {
                position:relative;
              }
            }
            span {
              display:block;
              text-transform:uppercase;
              color:#a9a9a9;
              font-family:"Droid Sans";
              font-size:12px;

            }
          }
        }
        &:after{
          content:"";
          display:table;
          clear:both;
        }
      }
      .nav {
        margin-top:38px;
        width:$width_content;
        font-family: $font_cabin;
        font-size:16px;
        border-top:2px solid $line_color;
        border-bottom:2px solid $line_color;
        .menu{
          width:$width_content;
            li {
              padding:20px 0 15px 0;
              float:left;
              margin-right:80px;
              a {
                font-size:$font_size;
                font-family:$font_cabin_semibold;
                text-decoration:none;
                text-transform:uppercase;
                color:$text_color;
              }
              &:first-letter{
                color:$green_color;
              }
              &:last-child {
                margin-right:0;
              }
              &:hover{
                background: url(../img/arrow.png) no-repeat;
                background-position:center top;
                margin-top:-2px;
                border-top:2px solid #77c127;
              }
              &:hover .submenu {
                margin:0 auto;
                margin-top:-2px;
                width:1240px;
                display:block;
                position: absolute;
                left:-40px;
              }
            }
          .submenu {
            z-index:999999;
            padding:38px 0 38px 40px;
            display:none;
            top:100%;
            border-top: 2px solid #77c127;
            border-bottom: 2px solid #77c127;
            background-color:#f7f7f7;

          }

          .sb1 {
            .ecpa{
              text-align:center;
              margin-right:5px;
              float:left;
              p {
                font-family: $font_cabin;
                font-size:14px;
                color:$text_color;
                line-height:50px;
              }
            }
            .sb1-btn{
              margin-top:425px;
              font-family: $font_cabin_bold;
              font-size:$font_size;
              line-height:18px;
              text-align:center;
              a {
                color:$green_color;
                border:2px solid $green_color;
                padding:15px 25px;
                &:hover {
                  color:#fff;
                  background-color:$green_color;
                }
              }
            }
            &:after{
              content:"";
              display:table;
              clear:both;
            }
          }
          .sb2{
            .sumimgs{
              .sumimg{
                position:relative;
                float:left;
                margin-right:8px;
                margin-bottom:39px;
                p {
                  position:absolute;
                  left:20px;
                  bottom:45px;
                  z-index:1;
                  font-size:30px;
                  font-family: $font_cabin_bold;
                  color:#ffffff;
                }
                span{
                  position:absolute;
                  left:20px;
                  bottom:20px;
                  z-index:1;
                  font-size:14px;
                  font-family: $font_cabin;
                  color:#ffffff;
                }
              }
              &:after{
                content:"";
                display:table;
                clear:both;
              }
            }
            .botmenu {
              position:relative;
              margin:0 auto;
                p {
                  text-align:center;
                  position:absolute;
                  height:110px;
                  width:590px;
                  top:5px;
                  right:45px;
                  z-index:1;
                  background:rgba(0,0,0,.7);
                  a {
                    text-transform:none;
                    font-size:24px;
                    font-family: $font_cabin_bold;
                    color:#ffffff;
                    margin-top:30px;
                    display:block;
                    line-hiegt:30px;
                  }
                  span{
                    display:block;
                    margin-top:15px;
                    font-size:$font_size;
                    font-family: $font_cabin;
                    color:$green_color;
                  }
              }
            }
          }
          .sb3{
            .sumimgs{
              .sumimg{
                position:relative;
                float:left;
                margin-right:8px;
                margin-bottom:39px;
                p {
                  position:absolute;
                  left:20px;
                  bottom:15px;
                  z-index:1;
                  font-size:30px;
                  font-family: $font_cabin_bold;
                  color:#ffffff;
                }
                span{
                  position:absolute;
                  left:20px;
                  bottom:20px;
                  z-index:1;
                  font-size:14px;
                  font-family: $font_cabin;
                  color:#ffffff;
                }
              }
              &:after{
                content:"";
                display:table;
                clear:both;
              }
            }
            .botmenu {
              position:relative;
              margin:0 auto;
              p {
                text-align:center;
                position:absolute;
                height:110px;
                width:590px;
                top:5px;
                right:45px;
                z-index:1;
                background:rgba(0,0,0,.7);
                a {
                  text-transform:none;
                  font-size:24px;
                  font-family: $font_cabin_bold;
                  color:#ffffff;
                  margin-top:30px;
                  display:block;
                  line-hiegt:30px;
                }
                span{
                  display:block;
                  margin-top:15px;
                  font-size:$font_size;
                  font-family: $font_cabin;
                  color:$green_color;
                }
              }
            }
          }
          .sb4 {
            .sumimgs{
              .sumimg{
                position:relative;
                float:left;
                margin-right:5px;
                margin-bottom:39px;
                p {
                  position:absolute;
                  left:20px;
                  bottom:15px;
                  z-index:1;
                  font-size:30px;
                  font-family: $font_cabin_bold;
                  color:#ffffff;
                }
              }
              &:after{
                content:"";
                display:table;
                clear:both;
              }
            }
              .botmenu {
                position:relative;
                margin:0 auto;
                p {
                  text-align:center;
                  position:absolute;
                  height:110px;
                  width:590px;
                  top:5px;
                  right:45px;
                  z-index:1;
                  background:rgba(0,0,0,.7);
                  a {
                    text-transform:none;
                    font-size:24px;
                    font-family: $font_cabin_bold;
                    color:#ffffff;
                    margin-top:30px;
                    display:block;
                    line-hiegt:30px;
                  }
                  span{
                    display:block;
                    margin-top:15px;
                    font-size:$font_size;
                    font-family: $font_cabin;
                    color:$green_color;
                  }
                }
              }

          }

          .lg{
            float:right;
            border-right:2px solid $line_color;
            border-left:2px solid $line_color;
            li {
              margin:0;
              &:first-child {
                margin-left:15px;
                a {
                  padding-right:9px;
                  border-right:1px solid #cfcfcf;
                }
              }
              &:last-child {
                margin-left:8px;
                margin-right:13px;
                color:$text_color
              }
              &:first-letter{
                color:$text_color;
              }
              &:hover {
                background-image:none;
                border-top:none;
                margin-top:0;
              }
            }
          }
          &:after{
            content:"";
            display:table;
            clear:both;
          }
        }
      }
    }
